

/* box banner */
.banner {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, var(--color-blue-1) 15%, var(--color-blue-3));
    color: #fff;
    padding-top: 70px;
    text-align: center;
}

.banner .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 5px;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
}

.banner .box .paragrafo {
    margin: 15px 0;
    font-size: var(--font-size-5);
    font-weight: 400;
    color: #fff;
}

.banner .box .title1 {
    font-size: var(--font-size-3);
}

.banner .box .title2 {
    font-size: var(--font-size-1);
    display: block;
    max-width: 450px;
}

.banner .box .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
    width: 100%;
    justify-content: space-evenly;
}

.banner .box .buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-width: 150px;
    border-radius: 35px;
    margin: 0 5px 15px;
    font-size: var(--font-size-4);
    font-weight: 700;
    background: var(--color-blue-1);
    color: #fff;

    text-decoration: none;
    gap: 8px;
}

.banner .box .buttons a:hover {
    background: var(--color-blue-2);

}

.banner .box .buttons a i {
    margin-right: 5px;
}

/* box about */

.about {
    padding-top: 60px;
}


.about .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about .box .img {
    flex: 1;
    max-width: 240px;
    margin: 0 auto;
}

.about .box .img img {
    width: 100%;
    border-radius: 50%;
    display: block;
}

.about .box .text {
    flex: 2;
    padding: 0 15px;
    max-width: 800px;
}

.about .box .text h3 {
    color: var(--color-blue-2);
    margin-top: 15px;
}

.about .box .text p {
    margin: 15px 0;
    text-align: justify;
}

.about .box .text a {
    color: var(--color-pink-1);
    font-weight: 400;
    text-decoration: none;
}

/* box skills */

.skills.github i {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.skills .items i {
    font-size: 65px;

}


.skills {
    background: var(--color-black-1);
}

.skills .box h2,
.skills .box h3 {

    margin-left: 30px;
    
}

.skills .box .items .skills {
    padding-left: 40px;
}

.skills .box h2,
.skills .box h3,
.skills .box h4 {
    color: #fff;
}

.skills .box h3 {
    margin: 5px 0 20px;
    font-size: var(--font-size-4);
    padding-left: 30px;
    
}

.skills .box .items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 900px;
}

.skills .box .items .skills {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.skills .box .items .skills:hover {
    background: #ffffff1f;
}

.skills .box .items .skills img,
.skills .box .items .skills svg {
    width: 200px;
}

.skills .box .items .skills h4 {
    margin-top: 15px;
}

/* box projects */

.projects .box h2 {

    margin-left: 30px;
    
}

.projects .box h3 {
  margin: 5px 0 20px;
  font-size: var(--font-size-4);
  padding-left: 30px;
}

.projects .box .project {
  display: flex;
  flex-direction: column; 
  margin: 50px 0;
}

.projects .box .project.reverse {
  flex-direction: column; 
}

.projects .box .project .img {
  flex: 1;
}

.projects .box .project .img img {
  width: 80%;
}

.projects .box .project .text {
  flex: 1;
  margin-bottom: 15px;
  padding: 0 20px;
  text-align: left;
}

.projects .box .project .text h4 {
  font-size: var(--font-size-3);
  margin-bottom: 15px;
}

.projects .box .project .text .buttons {
  margin-top: 29px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.projects .box .project .text .buttons a {
  display: inline-flex;
  border-radius: 45px;
  color: #fff;
  height: 30px;
  background: #181616;
  padding: 0 12px;
  font-size: var(--font-size-5);
  font-weight: 400;
  align-items: center;
  text-decoration: none;
}

.projects .box .project .text .buttons a.live {
    background: var(--color-pink-1);
}

.buttons a i {
  margin-right: 8px; 
  vertical-align: middle; 
}

/* box contact*/

.contact {
    background: var(--color-black-1);
}

.contact .box {
    max-width: 880px;
    margin: 0 auto; 
}

.contact .box h2,
.contact .box h3 {
    color: #fff;
}

.contact .box .contacts {
    display: flex;
    flex-direction: row;       
    justify-content: center;  
    align-items: center;
    flex-wrap: wrap;           
    gap: 20px;                 
    margin: 25px 0;
}

.contact .box .contacts a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--color-pink-1);
    height: 50px;
    color: #fff;
    border-radius: 35px;
    min-width: 200px;          
    margin: 15px 0;
    text-decoration: none;     
    font-weight: bold;
    font-size: 16px;
    transition: background 0.3s ease;
}

.contact .box .contacts a:hover {
    background: #f42771bf;
}

.contact .box .contacts a span {
    font-size: 35px;
    margin-right: 5px;
}

.contact .box .contacts a svg {
    width: 35px;
    margin-right: 5px;
}

/* box footer */



/* Desktop layout */
@media (min-width: 768px) {
  .projects .box .project {
    flex-direction: row; 
    align-items: center;
    gap: 30px;
  }

  .projects .box .project.reverse {
    flex-direction: row-reverse; 
  }

  .about .box {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .about .box .img {
    max-width: 240px;
    margin: 0;
  }

  .about .box .text {
    padding-left: 40px;
    padding-right: 15px;
  }

  .skills .box .items .skills {
    width: 25%;
  }

  .skills .box .items .skills img,
  .skills .box .items .skills svg {
    width: 120px;
  }

  .contact .box .contacts {
    flex-direction: row;
  }


}
